  .text-danger{
      color: var(--rb-error-400)
  }
  .text-primary{
      color: var(--rb-primary1-400)
  }
  .text-muted{
      color: var(--rb-neutral-800)
  }
  .text-wrap{
    text-wrap: wrap;
  }