
@if(appLoadError()){
    <div class="d-flex flex-column">
        <strong class="text-danger">{{appLoadError()?.title}}</strong>
        <span>{{appLoadError()?.message}}</span>
    </div>
}
@else if(sessionService.currentObjectKey()==='CompanyDetails'){
    <app-abn></app-abn>
}
@else if(sessionService.currentObjectKey()==='Vehicle'){
    <app-vehicle></app-vehicle>
}
@else {
    @if(apiLoaded | async){
        <app-address></app-address>            
    }
}




<!-- any overlays will use this div to append to ensure styles are applied inside 
 shadow dom -->
<div [id]="APPEND_TO_ELEM_ID"></div>
